img {
    width: 200PX;
    height: 100px;
  }
  
  
 
  
  .save1 {
   
    margin-top: 5px;
    width: 250PX;
    height: 30px;
    margin-left: 20px;
  }
  
  .save2 {
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
    height: 30px;
  }
  
  
  
  .login-box {
    margin-top:50%;
    display: block;
    justify-content: center;
    width: 300px;
    height: 450px;
    border: 1px solid black;
    text-align: center;
    display : block;
    margin : auto;
    margin-bottom: 40px;
  }
  .keep{
    margin-top: 15px;
    padding-right: 50px;
    text-align: center;
  }
  .button{
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
    height: 30px;
    background-color: rgb(0, 59, 252);
    border: 0;
    outline: 1;
  }
  
  .text{
    text-align: center;
  }
  .text1{
    margin-left: 5px;
  }
  .login-box2{
    margin-top:1100px;
   
    width: 300px;
    height: 20px;
    border: 1px solid black;
    
  }
  hr{
    width: 300px;
  }